* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 50px;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

main {
  display: flex;
}

#evaluation-form {
  flex-direction: column;
  display: flex;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}
